*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(62, 60, 60);
}
 
 
.typing h1{
    width: 300px;
    overflow: hidden;
    color: white;
    border-right:  .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40,end),
     blink-caret 0.75s step-end infinite;
    animation-fill-mode: forwards;
   
}


 

@keyframes typing{
    from {width: 0;}
    to{width: 300px;}
}

@keyframes blink-caret {
    from, to{border-color: transparent;}
    50% {border-color: orange;}
    
}

.typewriter h1{
    color: white;
    white-space: nowrap;
    letter-spacing: 0.15em;
    overflow: hidden;
    width: 0ch;
    animation: typewriterin 2s steps(40,end);
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes typewriterin {
    from{ width: 0ch;}
    to{width: 100%;}
}