*{
    /*initial*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* 100% window  */
    width: 100vw;
    height: 100vh;
    background: linear-gradient(200deg, #fdd6db,#f794a4);
    /* flexiable layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-container{
    /*grid display, 3 rows 3 cols, 20px gap*/
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    gap:20px;
    /* add transition effect */
    transition: 0.5s ease;
}

.img-item{
    width: 100px;
    height: 100px;
    /* inner shadow */
    box-shadow: inset 0 0 0 1px #fff;
    background-image: url(/images/001.jpg);
    background-size: 300px 300px;
    /* set the original postion for background, use JS to apply the value*/
    background-position: var(--bgX,0) var(--bgY,0);
    /* add transition effect */
    transition: 0.5s ease;
}

.img-container:hover{
    gap:0
}

.img-container:hover .img-item{
    box-shadow: inset 0 0 0 0 #fff;
}
